:root {
    --primary-text-color:#212121;
    --secondary-text-color:#757575;
    --accent-color: #2196F3;
    --main-white-text: #FFFFFF;
    --primary-bg-color: #E5E5E5;
    --secondary-bg-color: #F5F4FA;
    --main-black-text: #000000;
    --footer-color: #2F303A;
    --adress-text: rgba(255, 255, 255, 0.6);
}

body {
    background-color: var(--main-white-text);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}
h1,
h2,
h3,
p {
    margin: 0;
}
img {
    display: block;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}
.link {
    text-decoration: none;
}
.hide {
    display: none;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.main-header,
.site-nav,
.site-contacts,
.button-list,
.work.list {
    display: flex;
}


  /* Elements with Accent color */


.logo-accent,
.site-nav .link.current,
.modal-link {
    color: var(--accent-color);
}

/* Header */

header {
    border-bottom: 1px solid #ECECEC;
}
     /* logo */

.logo {
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.19;
    color: var(--main-black-text);
}
.head.logo {
    margin-right: 93px;

    padding-top: 24px;
    padding-bottom: 25px;
}
.footer.logo {
    color: var(--main-white-text);
}

     /* site nav */

.main-header,
.site-nav {
    align-items: center;
}     

.site-nav .item:not(:last-child)
    {
    margin-right: 50px;  
}
.contact-item:not(:last-child) {
    margin-right: 30px;  
}

.site-contacts {
    margin-left: auto;
}
.site-nav .link,
.site-contacts .link {
    display: block;
    color: var(--primary-text-color);
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    line-height: 1.43;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .link:hover,
.site-nav .link:focus,
.site-contacts .link:hover,
.site-contacts .link:focus {
    color: var(--accent-color);
}
.current {
    position: relative;
}
.current::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    display: block;
    bottom: -1px;
}

/* site main contacts  */
.site-contacts .link {
    color: var(--secondary-text-color);
}
.contact-item,
.contact.link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-icons {
    fill: var(--secondary-text-color);
    width: 16px;
    height: 12px;
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact.link:hover .contact-icons,
.contact.link:focus .contact-icons {
    fill: var(--accent-color);
}

.contact-icons.phone {
    width: 10px;
    height: 16px;
}

   /* buttons */

.button {
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
.button.hero {

    padding: 10px 32px;
    margin-left: auto;
    margin-right: auto;
    
    font-size: 16px;
    line-height: 1.88;
    
    letter-spacing: 0.06em;
    
}
.button.primary {
    color: var(--main-white-text);
    background-color: var(--accent-color);
}
.button.secondary {
    margin-right: 8px;
    margin-bottom: 50px;
    padding: 6px 22px;
    color: var(--primary-text-color);
    background-color: var(--secondary-bg-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button.secondary.activ,
.button.secondary:hover,
.button.secondary:focus {
    color: var(--main-white-text);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08), 
    0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
.button-list {
    justify-content: center;
}




/* Hero */
.hero-section {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #C4C4C4;
    text-align: center;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url(../images/bcg-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-title {
    width: 696px;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    color: var(--main-white-text);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
/* Особенности */
.features.list,
.whatwedo.list,
.team.list {
    display: flex;
}


.features-title {
    margin-top: 0;
    margin-bottom: 10px;
    width: 270px;
    font-size: 14px;

    line-height: 1.43;
    text-transform: uppercase;
}
.features-description {
    display: inline-block;
    margin-top: 0;
    width: 270px;

    color: var(--secondary-text-color);

    line-height: 1.71;
}
.features-item:not(:last-child) {
    margin-right: 30px;
}

.features-rectangle {
    display: flex;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--secondary-bg-color);
    border-radius: 4px;
    align-items: center;
    justify-content: center;

}

/* whatwedo and team section */
.whatwedo.section {
    padding-top: 0;
}
.section-title {
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
.whatwedo.list> .item:not(:last-child),
.team.list>.card:not(:last-child) {
    margin-right: 30px;
}
.whatwedo-block {
    position: relative;
}

.whatwedo-title {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-top: 27px;
    padding-bottom: 27px;

    line-height: 1.43;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;  
    background-color: rgba(47, 48, 58, 0.8);;
    color: var(--main-white-text);


}

.team {
    background-color: var(--secondary-bg-color);
}

.member-title,
.member-description {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
.member-title {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 500;
}

.member-description {
    margin-bottom: 16px;
    color:var(--secondary-text-color);
}

.team .card {
    background-color: var(--main-white-text);
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    width: 270px;
}
.social.list {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.social-item {
    width: 44px;
    height: 44px;
}
.social-item:not(:last-child) {
    margin-right: 10px;
}

.social-link {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    fill: #AFB1B8;
    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
    background-color: var(--accent-color);
    fill: var(--main-white-text);
}
/* client section */
.clients.list {
    display: flex;
}
.client-item {
    width: 170px;
    height: 92px;
}
.client-item:not(:last-child) {
    margin-right: 30px;
}
.company-link {
    width: 100%;
    height: 100%;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #AFB1B8;
    transition: fill, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.company-link:hover,
.company-link:focus {
    border: 1px solid var(--accent-color);
    fill: var(--accent-color);
}

/* work section */

.work-wrap {
    position: relative;
    overflow: hidden;
}

.work-item {
    width: calc(100% / 3 - 20px);
    margin-right: 30px;
    margin-bottom: 30px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.work-text {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    padding: 63px 24px;
    color: var(--main-white-text);
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms linear;
}

.work-item:hover .work-text {
    transform: translateY(0);
}

.work-item:nth-child(3n+3) {
    margin-right: 0;
}
.work-item:nth-last-child(-n+3) {
    margin-bottom: 0;
}
.work-item:hover,
.work-item:focus {
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
    0px 1px 2px rgba(0, 0, 0, 0.08), 
    0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.work.list {
    flex-wrap: wrap;
}
.work.link {
    width: 100%;
    color: var(--primary-text-color);
}

.work-title {
    margin-bottom: 4px;
    padding-top: 20px;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 18px;
    line-height: 2;
    
    letter-spacing: 0.06em;
}
.work-description {
    
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;

    color: var(--secondary-text-color);

    font-size: 16px;
    line-height: 1.88;
}
.title-description {
    border: 1px solid #EEEEEE;
    border-top: 0px;
    
}


footer {
    padding: 60px 0px;
    background-color: var(--footer-color);
}
/* adress */
address {
    margin-top: 20px;
    margin-right: 70px;
}
.streat.link,
.contacts.link {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 9px;
    width: 231px;

    font-style: normal;

    line-height: 1.71;
    color: var(--adress-text);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts.link:hover,
.contacts.link:focus {
    color: var(--accent-color);
}
.streat.link {
    color: var(--main-white-text);
    }
.contacts.tel {
    margin-bottom: 0;
}
.footer-soc {
    margin-right: 93px;
}

.foter-soc-title,
.subscription-title {
    display: flex;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.03em;
    text-transform: uppercase;  
    color: var(--main-white-text);
    margin-bottom: 20px;
}
.footer {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.foter-soc.list {
    display: flex;
    align-items: center;
    justify-content: center;

}
.foter-social-item {
    width: 44px;
    height: 44px;
}
.foter-social-item:not(:last-child) {
    margin-right: 10px;
}

.footer-social-link {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    fill: var(--main-white-text);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover,
.footer-social-link:focus {
    background-color: var(--accent-color);
}
.subscription-form {
    display: flex;
}

.footer-mail {
    width: 358px;
    height: 50px;
    padding-left: 16px;

    font-size: 16px;
    line-height: 1.25;
    align-items: center;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
    background-color: var(--footer-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    margin-right: 12px;
    outline:none;
}
.footer-mail::placeholder {
    font-weight: 400;
font-size: 16px;
line-height: 20px;
/* identical to box height, or 125% */

display: flex;
align-items: center;
letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);
}

.button.primary.foot {
    height: 50px;
    padding: 10px 62px 10px 29px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}
.foot-button-div {
    position: relative;
}
.icon-send {
    position: absolute;
    top: 13px;
    left: 148px;
    fill: var(--main-white-text);
}


/* modal */

body {
    position: relative;
}
.backdrop {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms, visibility 250ms;
}


.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 250ms linear;
    width: 528px;
    min-height: 581px;

    background-color:var(--main-white-text);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal-close-bth {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    width: 30px;
    height: 30px;
    background-color: var(--main-white-text);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}

.modal-close-bth:hover {
    fill: var(--accent-color);
}

.contact-form {
    padding: 40px 39px 40px 41px;
}


.contact-form-title {
    margin-bottom: 12px;

    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
}

.contact-form-list,
.contact-form-item {
    display: flex;
    flex-direction: column;
}

.contact-form-item {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--secondary-text-color);
}
.iput-form {
    padding-left: 42px;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline:none;
    margin-top: 4px;
    margin-bottom: 10px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.iput-form.comments {
    padding-top: 12px;
    padding-left: 16px;
    resize: none;

}
.iput-form.comments::placeholder {
    
    font-size: 14px;
    line-height: 1.25;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.iput-form:hover,
.iput-form:focus {
    border-color: var(--accent-color);
}

.iput-form:hover + .form-icon,
.iput-form:focus + .form-icon {
    fill: var(--accent-color);
}

.comments {
    height: 120px;
    margin-bottom: 20px;
    text-align: top;
    
}
.button.primary.mod {

    margin-left: auto;
    margin-right: auto;
    padding: 10px 56px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    margin-bottom: 40px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }

.button.primary.mod:hover {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }

.checkbox-label {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 12px;
}

.modal-link {
    margin-left: 3px;
}

.checkbox {
    margin-bottom: 0;
    margin-right: 8.38px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    }

.checkbox-icon {
    width: 16px;
    height: 15px;
    margin-right: 8.38px;
    
}
.checkbox-icon.activ {
    display: none;
    
}

.checkbox:checked +.checkbox-icon {
    display: none;
    
}
.checkbox:checked +.checkbox-icon +.checkbox-icon.activ {
    display: block;
    background-color: var(--accent-color);
    padding: 4px 2px 3px 3px;
    background-size: contain;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
}

    .form-filed {
        width: 100%;
        position: relative;
    }
    .form-icon {
        position: absolute;
        top: 15px;
        left: 12px;
        display: flex;
        width: 18px;
        height: 18px;
        fill: #000000;
        align-items: center;
        justify-content: center;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        

    }

