:root {
    --primary-text-color:#212121;
    --secondary-text-color:#757575;
    --accent-color: #2196F3;
    --main-white-text: #FFFFFF;
    --primary-bg-color: #E5E5E5;
    --secondary-bg-color: #F5F4FA;
    --main-black-text: #000000;
    --footer-color: #2F303A;
    --adress-text: rgba(255, 255, 255, 0.6);
}

body {
    position: relative;

    background-color: var(--main-white-text);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}
h1,
h2,
h3,
p {
    margin: 0;
}
img {
    display: block;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}
.link {
    text-decoration: none;
}
.hide {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.flex {
    display: flex;
}


  /* Elements with Accent color */


.accent,
.current {
    color: var(--accent-color);
}

/* ------------logo -----------------*/

.logo {
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.19;
    color: var(--main-black-text);
}
.logo {
    margin-right: 93px;

    padding-top: 24px;
    padding-bottom: 25px;
}
.logo--light {
    color: var(--main-white-text);
}

/*---------- buttons -------------*/

.button {
    border-radius: 4px;
    border: none;
    cursor: pointer;
    color: var(--main-white-text);
    background-color: var(--accent-color);
}

.button--secondary {
    margin-right: 8px;
    margin-bottom: 50px;
    padding: 6px 22px;
    color: var(--primary-text-color);
    background-color: var(--secondary-bg-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button--activ,
.button--secondary:hover,
.button--secondary:focus {
    color: var(--main-white-text);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08), 
    0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
.button-list {
    justify-content: center;
}

/*------------ Header --------------- */

.header {
    border-bottom: 1px solid #ECECEC;
}


/*-----------------  site nav ---------------*/


.site-nav,
.site-nav__list {
    display: flex;
    align-items: center;
}     

.site-nav__item:not(:last-child)
    {
    margin-right: 50px;  
}

.site-nav__link {
    display: block;
    color: var(--primary-text-color);
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    line-height: 1.43;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover,
.site-nav__link:focus,
.site-contacts__link:hover,
.site-contacts__link:focus {
    color: var(--accent-color);
}
.current {
    position: relative;
}

.current::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    display: block;
    bottom: -1px;
}

/*-------- site main contacts -------*/

.site-contacts {
    display: flex;
    margin-left: auto;
}

.site-contacts__item:not(:last-child) {
    margin-right: 30px;  
}

.site-contacts__link {
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--secondary-text-color);
    padding-top: 32px;
    padding-bottom: 32px;
}

.site-contacts__icon {
    margin-right: 10px;

    fill: var(--secondary-text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-contacts__link:hover .site-contacts__icon,
.site-contacts__link:focus .site-contacts__icon {
    fill: var(--accent-color);
}

/*----------- Hero section ---------------*/

.hero-section {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #C4C4C4;
    text-align: center;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url(../images/bcg-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-section__title {
    max-width: 696px;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    color: var(--main-white-text);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero-section__button {
    margin-left: auto;
    margin-right: auto;
    padding: 10px 32px;
    
    font-size: 16px;
    line-height: 1.88;
    
    letter-spacing: 0.06em;
}



/* ---------- features section ---------- */

.features-list__item:not(:last-child) {
    margin-right: 30px;
}

.features-list__card {
    display: flex;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--secondary-bg-color);
    border-radius: 4px;
    align-items: center;
    justify-content: center;
}

.features-list__title {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.43;
    text-transform: uppercase;
}
.features-listv__description {
    color: var(--secondary-text-color);

    line-height: 1.71;
}

/*--------- whatwedo section -----------*/

.whatwedo {
    padding-top: 0;
}

.whatwedo-list__item:not(:last-child),
.members-list__card:not(:last-child) {
    margin-right: 30px;
}

.whatwedo-list__card {
    position: relative;
}

.whatwedo-list__title {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-top: 27px;
    padding-bottom: 27px;

    line-height: 1.43;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;  
    background-color: rgba(47, 48, 58, 0.8);;
    color: var(--main-white-text);
}

/*------------- team section -----------*/

.team {
    background-color: var(--secondary-bg-color);
}
/* -- members block --*/

.members-list__card {
    background-color: var(--main-white-text);
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    width: 270px;
}

.members-list__title,
.members-list__description {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
.members-list__title {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 500;
}

.members-list__description {
    margin-bottom: 16px;
    color:var(--secondary-text-color);
}

/* ---- members soc block ---- */

.members-soc {
    display: flex;
    margin-bottom: 30px;
    
    align-items: center;
    justify-content: center;
}
.members-soc__item {
    width: 44px;
    height: 44px;
}
.members-soc__item:not(:last-child) {
    margin-right: 10px;
}

.members-soc__link {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    fill: #AFB1B8;
    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.members-soc__link:hover,
.members-soc__link:focus {
    background-color: var(--accent-color);
    fill: var(--main-white-text);
}

/* client section */

.clients-list__item {
    width: 170px;
    height: 92px;
}
.clients-list__item:not(:last-child) {
    margin-right: 30px;
}
.clients-list__link {
    width: 100%;
    height: 100%;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #AFB1B8;
    transition: fill, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__link:hover,
.clients-list__link:focus {
    border: 1px solid var(--accent-color);
    fill: var(--accent-color);
}

/* examples section */

.examples-list {
    display: flex;
    flex-wrap: wrap;
}

.examples-list__examples-card {
    width: calc(100% / 3 - 20px);
    margin-right: 30px;
    margin-bottom: 30px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples-list__examples-card:hover .examples-card__description {
    transform: translateY(0);
}

.examples-list__examples-card:nth-child(3n+3) {
    margin-right: 0;
}
.examples-list__examples-card:nth-last-child(-n+3) {
    margin-bottom: 0;
}
.examples-list__examples-card:hover,
.examples-list__examples-card:focus {
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
    0px 1px 2px rgba(0, 0, 0, 0.08), 
    0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.examples-card__link {
    width: 100%;
    color: var(--primary-text-color);
}

.wrap {
    position: relative;
    overflow: hidden;
}
.examples-card__description {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    padding: 63px 24px;
    color: var(--main-white-text);
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms linear;
}
.examples-card__field {
    border: 1px solid #EEEEEE;
    border-top: 0px;
    
}

.examples-card__title {
    margin-bottom: 4px;
    padding-top: 20px;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 18px;
    line-height: 2;
    
    letter-spacing: 0.06em;
}
.examples-card__type {
    
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;

    color: var(--secondary-text-color);

    font-size: 16px;
    line-height: 1.88;
}



/* modal */

.backdrop {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms, visibility 250ms;
}


.backdrop--is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 250ms linear;
    width: 528px;
    min-height: 581px;

    background-color:var(--main-white-text);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal__close-bth {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    width: 30px;
    height: 30px;
    background-color: var(--main-white-text);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}

.modal__close-bth:hover {
    fill: var(--accent-color);
}

.modal-form {
    padding: 40px 39px 40px 41px;
}

.modal-form__title {
    margin-bottom: 12px;

    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
}

.contact-form,
.contact-form__name {
    display: flex;
    flex-direction: column;
}

.contact-form__name {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--secondary-text-color);
}
.contact-form__iput {
    padding-left: 42px;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline:none;
    margin-top: 4px;
    margin-bottom: 10px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form__iput--comments {
    padding-top: 12px;
    padding-left: 16px;
    resize: none;

}
.contact-form__iput--comment::placeholder {
    
    font-size: 14px;
    line-height: 1.25;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.contact-form__iput:hover,
.contact-form__iput:focus {
    border-color: var(--accent-color);
}
.contact-form__filed {
    width: 100%;
    position: relative;
}
.contact-form__icon {
    position: absolute;
    left: 12px;
    display: flex;
    width: 18px;
    height: 18px;
    fill: #000000;
    align-items: center;
    justify-content: center;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    top: 15px;
}
    


.contact-form__iput:hover + .contact-form__icon,
.contact-form__iput:focus + .contact-form__icon {
    fill: var(--accent-color);
}

.contact-form__iput--comments {
    height: 120px;
    margin-bottom: 20px;
    text-align: top; 
}



.modal-checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 12px;
}

.modal-checkbox__input {
    margin-bottom: 0;
    margin-right: 8.38px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
}

.odal-checkbox__link {
    margin-left: px;
}



.modal-checkbox__icon {
    width: 16px;
    height: 15px;
    margin-right: 8.38px;
    
}
.modal-checkbox__icon--eneble {
    display: none;
    
}

.modal-checkbox__input:checked +.modal-checkbox__icon--dislable {
    display: none;
    
}
.modal-checkbox__input:checked +.modal-checkbox__icon--dislable +.modal-checkbox__icon--eneble {
    display: block;
    background-color: var(--accent-color);
    padding: 4px 2px 3px 3px;
    background-size: contain;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
}

.modal__btn {

    margin-left: auto;
    margin-right: auto;
    padding: 10px 56px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    margin-bottom: 40px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }

.modal__btn:hover {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }



    /* ------------ footer ------------- */

footer {
    padding: 60px 0px;
    background-color: var(--footer-color);
}
.footer {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

/* -- footer-contacts block -- */
.footer-contacts {
    margin-right: 70px;
}
.footer-contacts__adress {
    margin-top: 20px;
}

.footer-contacts__link  {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 9px;

    font-style: normal;

    line-height: 1.71;
    color: var(--adress-text);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contacts__link--streat {
    color: var(--main-white-text);
    }

.footer-contacts__link:hover,
.footer-contacts__link:focus {
    color: var(--accent-color);
}

.footer-contacts__link:not(:last-child) {
    margin-bottom: 0;
}

/* -- footer-soc -- */

.footer-soc {
    margin-right: 93px;
}

.foter-soc__title,
.footer-sub__title {
    display: flex;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.03em;
    text-transform: uppercase;  
    color: var(--main-white-text);
    margin-bottom: 20px;
}

.foter-soc__list {
    display: flex;
    align-items: center;
    justify-content: center;

}
.foter-soc__item {
    width: 44px;
    height: 44px;
}
.foter-soc__item:not(:last-child) {
    margin-right: 10px;
}

.foter-soc__link {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    fill: var(--main-white-text);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.foter-soc__link:hover,
.foter-soc__link:focus {
    background-color: var(--accent-color);
}

/* -- footer subscription -- */

.footer-sub__form {
    display: flex;
}

.footer-sub__input {
    width: 358px;
    height: 50px;
    padding-left: 16px;

    font-size: 16px;
    line-height: 1.25;
    align-items: center;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
    background-color: var(--footer-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    margin-right: 12px;
    outline:none;
}

.footer-sub__input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;

    display: flex;
    align-items: center;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}

.footer-btn {
    height: 50px;
    padding: 10px 62px 10px 29px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}
.footer-sub__footer-btn {
    position: relative;
}
.footer-btn__icon {
    position: absolute;
    top: 13px;
    left: 148px;
    fill: var(--main-white-text);
}

